body,html{
	height:100%;
	padding:0px;
	margin:0px;
}

.a{
	background-color:;
	color: white;
}
.b{
	background-color:;
}
.c{
	background-color:;
	display:block !important

}
.a,.b,.c{
	display:inline-block;
	width:33.33%;
	height:100%;
	float:left;
}
.d{
	background-color:;
	height:10%;
	width:100%;
	position:fixed;
	bottom:0px;
}

#nave{
	text-align:center;
	position:fixed;
	top:10%;
	width:100%;
	height:20%
}

#nave img{
	height:100%;

}

#cpanel{

}


#hidem,#showm{
	display:none
}

#menu {
	color: white;
	margin-left: 250px;
}

#panel-oculto { 
	display: none; 
	position: fixed; 
	top: 0; 
	width: 100%; 
	height: 200px; 
	z-index: 1000; 
	background-color: #222; 
}

h1 {
	color:white;
}

h2 {
	color:white;
}

